/*****MEDIA QUERIES*****/

@media (min-width: 568px) {
    .navBar ul li {
        padding-left: 1.5rem;
    }

    .menu {
        position: relative;
        transform: none;
        background: transparent;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0;
        font-size: 14px
    }

    .hamburger {
        display: none;
    }

    .showcase {
        width: 240px;
    }

    .showcase p {
        display: none;
    }

    .showcase .hidden-text {
        display: block;
        font-size: 14px;
        letter-spacing: 2.2px; 
    }

    .pageTitle {
        font-size: 2rem;
    }

    input, textarea {
        font-size: 16px;
    }

    .pageIntro {
        font-size: 20px;
    }

    .imgGallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 0.6em;
    }

    .img-container img {
        object-position: top;
    }

    .img-1 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .img-container::before {
        width: 120px;
        height: 120px;
        margin-left: -60px;
        margin-top: -60px;
        font-size: 20px;
    }  
}

@media (min-width: 768px) {
    .navBar ul li {
        padding-left: 2.5rem;
    }

    .aboutMe {
        grid-gap: 10px;
        grid-template-areas: 
        'img text text';
        margin-bottom: 3em;
    }

    .about-photo {
        grid-area: img;
        margin: auto;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    
    .about-photo img {
        border-radius: 0;
        object-fit: contain;
    }

    .about-text {
        grid-area: text;
        margin: auto;
        background-color: var(--jet);
        padding: 0.8em;
    }
}

@media (min-width: 1024px) {
    .showcase {
        width: 280px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 50px
    }

    .pageTitle {
        font-size: 3rem;
    }

    .about-text {
        line-height: 2;
    }
}

