/***** VARIABLES *****/
:root {
    /* Colors */
    --cyber-yellow: #ffd100;
    --aureolin: #ffee32;
    --white: #ffffff;
    --light-gray: #d6d6d6;
    --jet: #333533;
    --eerie-black: #202020;
    /* Font */
    --heading-font: 'Montserrat', sans-serif;
}

/***** RESET/DEFAULT SETUP *****/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    display: block;
}

section {
    width: 100%;
    min-height: 100vh;
}

/* bg-colors */
#home, #work {
    background-color: var(--jet);
}

#about, #contact {
    background-color: var(--eerie-black);
}

/***** UTILITY *****/
.container {
    
    margin: 0 auto;
}

.sm {
    max-width: 800px;
}

.md {
    max-width: 1024px;
}

.lg {
    max-width: 1200px;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}

/* centering */
.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

/***** HEADER *****/
header {
    width: 100%;
    position: absolute;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

.logo {
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: var(--aureolin);
    font-size: 18px;
    font-weight: 600;
    padding: 0.25em;
    border: 2px solid var(--aureolin);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid var(--aureolin);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.logo:hover {
    border: 4px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--aureolin); 
}

.navBar ul li {
    font-family: var(--heading-font);
    padding-left: 1em;
}

.navBar ul li a {
    position: relative;
}

.navBar ul li a::after {
    content:'';
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.3s ease;
}

.navBar ul li a:hover::after {
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

/***** HOME *****/
#home {
    background-color: rgba(0,0,0,0.4);
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(./Images/home-photo_cropped.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.showcase {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    width: 240px;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
}

h2 {
    font-size: 45px;
    font-weight: 300;  
}

.showcase p {
    margin: 2em 0;
    font-size: 14px;
    letter-spacing: 2.2px;
}

.hidden-text {
    display: none; 
}

span {
    font-weight: 800;
    color: var(--aureolin);
}

/* Showcase Animation */
.text-top, .text-bottom {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
}

.text-top div, .text-bottom div {
    position: absolute;
}

h1, h2 {
    display: block;
}

.text-top {
    border-bottom: 1px solid var(--aureolin);
    top: 0;
}

.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.text-bottom {
    bottom: 0;
  }

.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

/* contact-me button */
.contact-btn {
    font-size: 14px;
    width: 140px;
    height: 40px;
    margin-top: 22em;
    border: 1px solid var(--aureolin);
    z-index: 2;
    transition: .6s ease;
}

.contact-btn:hover {
    cursor: pointer;
    background-color: var(--aureolin);
    box-shadow: 0 0 5px var(--aureolin), 0 0 10px var(--aureolin);
}

.contact-btn a {
    color: var(--aureolin);
    z-index: 1;
}

.contact-btn a:hover {
    color: var(--jet);
}

/* scroll-down animation */
@keyframes arrows
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-0.5s;
}

.arrows path.a2 {	
	animation-delay:0s;
}

.arrows {
    width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 10px;
}

.arrows path {
	stroke: var(--cyber-yellow);
	fill: transparent;
	stroke-width: 1px;	
	animation: arrows 2s infinite;
}

/***** ABOUT *****/
.pageTitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 3em;
}

.pageTitle-bar {
    width: 80px;
    height: 4px;
    background-color: var(--white);
    margin: 1em 0 4em 0;
}

.pageIntro {
    /*
    font-size: 18px;
    */
    text-align: center;
    color: var(--aureolin);
    margin-bottom: 4em;
}

.aboutMe {
    display: grid;
    justify-items: center;
}

.about-photo {
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 6px var(--cyber-yellow);
}

.about-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: .8;
}

.about-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 2px;
    text-align: justify;
    margin-top: 3em; 
    margin-bottom: 6em;
}

/***** PORTFOLIO *****/
.imgGallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*
    grid-gap: 0.3rem;
    */
    margin-bottom: 6em;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container::before, .img-container::after {
    position: absolute;
}

.img-container::before {
    content: 'View Project';
    width: 100px;
    height: 100px;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--cyber-yellow);
    color: var(--jet);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 0;
    z-index: 1;
}

.img-container::after {
    content: '';
    width: 100%; 
    height: 100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.6);
}

.img-container:hover img {
    transform: scale(1.5);
}

.img-container:hover::before {
    opacity: 1;
}

.img-container:hover::after {
    opacity: 0;
}

/***** CONTACT *****/
form {
    margin-bottom: 6em;
}
input {
    display: block;
    margin-bottom: 0.5em;
}

input:focus, textarea:focus {
    outline-color: var(--cyber-yellow);
}

form, input, textarea {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--light-gray);
    padding: 0.5em;
    border: none;
}

input, textarea {
    background-color: var(--jet);
}

.submit-btn {
    justify-content: flex-end;
}

button[type='submit'] {
    width: 80px;
    height: 45px;
    color: var(--white);
    border: 2px solid var(--white);
    text-transform: uppercase;
    padding: 1em;
    margin-top: 0.5em;
    cursor: pointer;

    background: linear-gradient(to right, var(--white)50%, var(--jet)50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

button[type='submit']:hover {
    background-position: left bottom;
    color: var(--jet);
}

/***** FOOTER *****/
footer {
    height: 25vh;
    position: relative;
    background-color: var(--jet);
    flex-direction: column;
}

/* social network icons */
.socNet li {
    margin: 2.5em 0.5em;
}

.socNet-icon {
    font-size: 18px;
    border: 1px solid var(--white);
    background-color: var(--jet);
    padding: 0.75em;
}

.socNet-icon:hover {
    transform: scale(1.2);
}

.icon1:hover {
    background-color: #0a66c2;
}

.icon2:hover {
    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.icon3:hover {
    /*
    background-color: #3b5998;
    */
    background-color: var(--white);
    color: var(--eerie-black);
}

.icon4:hover {
    background-color: black;
}

/* footnote */

.footnote {
    font-family: var(--heading-font);
    text-transform: uppercase;
    word-spacing: 2px;
    color: var(--white);
}

.copyright {
    margin-left: 0.5em;
}

.footnote, .copyright {
    font-weight: 300;
}

/* scroll-up button */
.scrollUp-btn {
    display: block;
    position: absolute;
    top: -22px;
}

.arrowsUp {
    width: 40px;
	height: 40px;	
}

.arrowsUp path {
        stroke: var(--cyber-yellow);
        fill: transparent;
        stroke-width: 1px;
}

.arrowsUp:hover path {	
	animation: arrowsUp 2s infinite;
}

.arrowsUp:hover path.a3 {
	animation-delay:-0.5s;
}

.arrowsUp:hover path.a4 {	
	animation-delay:0s;
}

@keyframes arrowsUp
{
0% {opacity:0}
40% {opacity:0}
80% {opacity:1}
100% {opacity:0}
}