/***** VARIABLES *****/
:root {
    /***** COLOR *****/
    --cyber-yellow: #ffd100;
    --aureolin: #ffee32;
    --white: #ffffff;
    --light-gray: #d6d6d6;
    --jet: #333533;
    --eerie-black: #202020;
    /***** FONT *****/
    --heading-font: 'Montserrat', sans-serif;
}

/***** RESET *****/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/***** UTILITY *****/

/*
html {
    scroll-behavior: smooth;
}
*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--jet);
    color: var(--white);
}

/*COLOR MAP*/
a {
    color: var(--white);
}

/*
#home, #contact {
    background-color: var(--jet);
    color: var(--white);
}

#about {
    background-color: var(--aureolin);
    color: var(--jet);
}

#work {
    background-color: var(--light-gray);
    color: var(--eerie-black);
}

a {
    color: var(--white);
}

.highlight {
    color: var(--aureolin);
}

.white {
    background-color: var(--white);
}

.black {
    background-color: var(--eerie-black);
}
*/

/*FLEX*/

.flex {
    display: flex;
}

/*
.column {
    flex-direction: column;
}
*/

.center {
    justify-content: center;
    align-items: center;
}

/**********/

section {
    width: 100%;
    /*
    float: left;
    */
    min-height: 100vh;
    border-top: 2px solid var(--eerie-black) ;
    padding-bottom: 5em;
}

.main-container {
    width: 100%;
    padding: 0 1em; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2em;
}

.pageTitle-bar {
    width: 80px;
    height: 4px;
    background-color: var(--white);
    margin: 1em 0 4em 0;
}

.pageIntro {
    color: var(--aureolin);
    margin-bottom: 4em;
}



/***** HOME PAGE *****/

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

.logo {
    width: 42px;
    height: 42px;
    border: 2px solid var(--aureolin);
    color: var(--aureolin);
    font-size: 18px;
    font-weight: 600;
    padding: 0.25em;
}

header nav ul li {
    font-family: var(--heading-font);
    padding-left: 1em;
}

.mainHeading-frame {
    min-width: 240px;
    min-height: 240px;
    border: 6px solid var(--aureolin);
    position: relative;
    margin-top: 3em;
}

.mainHeading-frame::after {
    content: '';
    min-width: 120px;
    min-height: 120px;
    position: absolute;
    border: 6px solid var(--aureolin);
    background-color: var(--aureolin);
    bottom: -30px;
    right: -49px;
}

.mainHeading-text {
    position: absolute;
    left: -50px;
    top: 20px;
    background-color: var(--jet);
}

h1 {
    font-family: var(--heading-font);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
}

h2 {
    font-size: 25px;
    font-weight: 300;
}

h1, h2 {
    margin: 10px 0px;
}

.secondHeading-container {
    width: 240px;
    position: relative;
}

.secondHeading-text {
    width: 260px;
    position: relative;
    bottom: -35px;
}

.secondHeading-text p {
    font-weight: 300;
}

span {
    font-weight: 800;
    color: var(--aureolin);
}

.contactMe-button {
    width: 120px;
    margin: 6.5em 0 4em 0;
    padding: 0.75em;
    border: 1px solid var(--aureolin);
}

.contactMe-button a {
    color: var(--aureolin);
}

/*SCROLL-DOWN ARROWS*/
.scrollDown {
    width: 100%;
    position: relative;
}
.arrows {
    width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: -45px;
}

.arrows path {
	stroke: var(--cyber-yellow);
	fill: transparent;
	stroke-width: 1px;	
	animation: arrows 2s infinite;
}

@keyframes arrows
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-0.5s;
}

.arrows path.a2 {	
	animation-delay:0s;
}

/***** ABOUT PAGE *****/
.about-photo {
    width: 200px;
    height: 200px;
    border: 1px solid var(--eerie-black);
    background-image: url(./Images/about-me-square.jpg);
    background-size: cover;
    background-position: center;
}

.about-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    text-align: justify;
    margin-top: 3em;
}

/***** WORK PAGE *****/
.imgGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*
    border: 1px solid var(--aureolin);
    */
    overflow: hidden;
}

.img-container {
    position: relative;
}

/*
.img-1 {
    background-image: url(./Images/travel-page-indonesia.png);
}

.img-2 {
    background-image: url(./Images/bennys-burger.png);
}

.img-3 {
    background-image: url(./Images/zoom-session.png);
}

.img-4 {
    background-image: url(./Images/bootstrap-page.png);
}
*/

.img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.img-container::after, .img-container::before {
    position: absolute;
}

.img-container::after {
    content: '';
    width: 100%; 
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.6);
}

.img-container::before {
    content: 'View Project';
    width: 100px;
    height: 100px;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--cyber-yellow);
    color: var(--jet);
    text-transform: uppercase;
    display: grid;
    place-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 0;
}

.img-container:hover {
    transform: scale(1.5);
}

.img-container:hover::after {
    opacity: 0;
}

.img-container:hover::before {
    opacity: 1;
}

/***** CONTACT PAGE *****/
input {
    display: block;
    margin-bottom: 0.20em;
}

form, input, textarea {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--light-gray);
    padding: 0.5em;
    border: none;
}

input, textarea {
    background-color: var(--eerie-black);
}

.submitButton-wrapper {
    display: flex;
    justify-content: flex-end;
}

button[type='submit'] {
    background-color: var(--eerie-black);
    color: var(--white);
    border: 2px solid var(--white);
    text-transform: uppercase;
    padding: 1em;
    margin-top: 0.5em;
}

/***** FOOTER *****/
footer {
    height: 25vh;
    position: relative;
    background-color: var(--eerie-black);
    flex-direction: column;
}

.socNetwork a {
    margin: 2.5em 0.5em;
}

.socNetwork-icon {
    font-size: 18px;
    border: 1px solid var(--white);
    background-color: var(--jet);
    padding: 0.75em;
}

.socNetwork-icon:hover {
    border: var(--jet);
    color: var(--jet);
    background-color: var(--aureolin);
    transform: scale(1.2);
}

.footnote {
    font-family: var(--heading-font);
    text-transform: uppercase;
    word-spacing: 2px;
    color: var(--white);
}

.copyright {
    margin-left: 0.5em;
}

.footnote, .copyright {
    font-weight: 300;
}

.scrollUp-button {
    display: block;
    position: absolute;
    top: -22px;
}

.arrows-up {
    width: 40px;
	height: 40px;
	
}

.arrows-up path {
        stroke: var(--cyber-yellow);
        fill: transparent;
        stroke-width: 1px;
}

