/***** VARIABLES *****/
:root {
    /* Colors */
    --cyber-yellow: #ffd100;
    --aureolin: #ffee32;
    --white: #ffffff;
    --light-gray: #d6d6d6;
    --jet: #333533;
    --eerie-black: #202020;
    /* Font */
    /* --heading-font: 'Montserrat', sans-serif; */
    --heading-font: 'Open Sans', sans-serif;
}

/***** RESET/DEFAULT SETUP *****/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    display: block;
}

section {
    width: 100%;
    min-height: 100vh;
}

/* bg-colors */
#home, #work {
    background-color: var(--jet);
}

#about, #contact {
    background-color: var(--eerie-black);
}

/***** UTILITY *****/
.container {
    margin: 0 auto;
}

.sm {
    /* max-width: 800px; */
    max-width: 768px;
}

.md {
    max-width: 1024px;
}

.lg {
    max-width: 1200px;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}

/* centering */
.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

/***** HEADER *****/
header {
    width: 100%;
    position: absolute;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/* .logo {
    font-size: 24px;
    font-weight: 600;
    padding: 0.25em;
    color: var(--light-gray);
    background-color: transparent;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); 
}

.logo:hover {
    text-shadow: 1px 1px 2px var(--light-gray); 
} */

.logo > span {
    display: inline-block;
    text-transform: uppercase;
}

.logo > span:hover {
    cursor: pointer;    
    animation: bounce 0.8s ease-in infinite;
    animation-delay:0.2s;
}

@keyframes bounce{
    0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        transform: translateY(-20px)
    }
}

.navBar ul li {
    font-family: var(--heading-font);
}

.navBar ul li a {
    position: relative;
    color: var(--white);
}

.navBar ul li a::after {
    content:'';
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.3s ease;
}

.navBar ul li a:hover::after {
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

.hamburger {
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: var(--cyber-yellow);
    background: transparent;
    border: solid 1px var(--cyber-yellow);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0); 
    outline: 1px solid var(--cyber-yellow); 
    outline-color: rgba(255, 255, 255, .5);  
    outline-offset: 0px; 
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); 
    cursor: pointer;
    z-index: 100;
}

.hamburger:hover {
    border: 3px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px var(--cyber-yellow); 
}

.hamburger .closeIcon{
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--eerie-black);
    opacity: .95;
    flex-direction: column;
    gap: 3.5rem;
    font-size: 28px;
}

.showMenu {
    transform: translateY(0);
}

/***** HOME *****/
#home {
    background-color: rgba(0,0,0,0.4);
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(./Images/my-pic-landscape_2-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.showcase-wrapper {
    position: relative;
    width: 100%; 
}

.showcase {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%);
    width: 240px;
}



h1 {
    font-family: var(--heading-font); 
    font-weight: 800;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 200;  
    letter-spacing: 0.5px;
}

.showcase p {
    margin: 2em 0;
    font-size: 14px;
    letter-spacing: 2.2px;
}

.hidden-text {
    display: none; 
}

.text-top-wrapper > h2 > span {
    /* font-family: 'Poppins'; */
    font-weight: 500;
    color: var(--aureolin);
}

/* Showcase Animation */
.text-top, .text-bottom {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
}

.text-top div, .text-bottom div {
    position: absolute;
}

h1, h2 {
    display: block;
}

.text-top {
    border-bottom: 1px solid var(--aureolin);
    top: 0;
}

.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.text-bottom {
    bottom: 0;
  }

.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

/* contact-me button */
.contact-btn {
    font-size: 14px;
    width: 140px;
    height: 40px;
    margin-top: 22em;
    border: 1px solid var(--aureolin);
    z-index: 2;
    transition: .6s ease;
    cursor: pointer;
}

.contact-btn:hover {
    cursor: pointer;
    background-color: var(--aureolin);
    /* box-shadow: 0 0 5px var(--aureolin), 0 0 10px var(--aureolin); */
    box-shadow: 0 0 5px var(--aureolin);
}

.contact-btn a {
    color: var(--aureolin);
    z-index: 1;
}

.contact-btn a:hover {
    color: var(--jet);
}

/* scroll-down animation */
@keyframes arrows
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-0.5s;
}

.arrows path.a2 {	
	animation-delay:0s;
}

.arrows {
    width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 10px;
}

.arrows path {
	stroke: var(--cyber-yellow);
	fill: transparent;
	stroke-width: 1px;	
	animation: arrows 2s infinite;
}

/***** PAGE TITLES/INTROS *****/
.pageTitle {
    font-family: var(--heading-font);
    font-size: 2rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 1.5em;
}

/* .pageTitle-bar {
    width: 80px;
    height: 4px;
    background-color: var(--white);
    margin: 1em 0 2em 0;
} */

.pageIntro {
    font-size: 14px;
    text-align: center;
    color: var(--aureolin);
    margin: 1.5em 0;
}

/***** ABOUT *****/
.aboutMe {
    display: grid;
    justify-items: center;
    margin: 1em 0; 
}

.about-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 2px var(--light-gray);
}

.about-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: .8;
}

.about-text {
    /* font-family: 'poppins'; */
    font-size: 12px;
    /* font-weight: 300; */
    text-shadow: 0px 0px var(--light-gray);
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
    flex-direction: column;
    margin: 2em 0;
}
.about-text > .text-conta > h3 {
    font-size: 16px;
    display: none;
}

.skills-list {
    width: 100%;
    margin-bottom: 2em;
}

.skills-list ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.skills-list ul > li {
    font-size: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.skills-list ul > li > i {
    font-size: 2rem;
}

.skills-list ul > .hidden-skill {
    display: none;
}

.javascript {
    color: #f7df1e;
}

.react {
    color:  #61DBFB;
}

.html {
    color: #e34c26;
}

.css {
    color: #264de4;
}

.sass {
    color: #cd6799;
}

.bootstrap {
    color: #563d7c;
}

.styledComponents {
    width: 28px;
    display: inline;
}

.nodeJS {
    color: #3c873a;
}

.mongoDB {
    color:#4db33d;
}

/***** PORTFOLIO *****/
.imgGallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    /*
    grid-gap: 0.3rem;
    */
    margin-bottom: 3em;
}

.img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* .img-container a {
    cursor: pointer;
} */

.img-container::before, .img-container::after {
    position: absolute;
}

.img-container::before {
    content: 'View Project';
    width: 80px;
    height: 80px;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--cyber-yellow);
    color: var(--jet);
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    opacity: 0;
    z-index: 1;
}

/* .img-container::after {
    content: '';
    width: 100%; 
    height: 100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.6);
} */

.img-container:hover img {
    transform: scale(1.5);
}

.img-container:hover::before {
    opacity: 1;
}

.img-container:hover::after {
    /* opacity: 0; */
    content: '';
    width: 100%; 
    height: 100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.6);
}

/***** CONTACT *****/
form {
    margin-bottom: 2em;
}
input {
    display: block;
    margin-bottom: 0.5em;
}

input:focus, textarea:focus {
    outline-color: var(--cyber-yellow);
}

form, input, textarea {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--light-gray);
    padding: 0.5em;
    border: none;
}

input, textarea {
    background-color: var(--jet);
}

.submit-btn {
    justify-content: flex-end;
}

button[type='submit'] {
    width: 140px;
    height: 45px;
    color: var(--white);
    border: 2px solid var(--white);
    text-transform: uppercase;
    padding: 1em;
    margin-top: 0.5em;
    cursor: pointer;
    background: linear-gradient(to right, var(--white)50%, var(--jet)50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}

button[type='submit']:hover {
    background-position: left bottom;
    color: var(--jet);
}

/***** FOOTER *****/
footer {
    height: 25vh;
    position: relative;
    background-color: var(--jet);
    flex-direction: column;
}

/* social network icons */
.socNet li {
    margin: 2.5em 0.5em;
}

.socNet-icon {
    font-size: 18px;
    border: 1px solid var(--white);
    background-color: var(--jet);
    padding: 0.75em;
}

.socNet-icon:hover {
    transform: scale(1.2);
}

.icon1:hover {
    background-color: #0a66c2;
}

.icon2:hover {
    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.icon3:hover {
    /*
    background-color: #3b5998;
    */
    background-color: var(--white);
    color: var(--eerie-black);
}

.icon4:hover {
    background-color: black;
}

/* footnote */

.footnote {
    font-family: var(--heading-font);
    text-transform: uppercase;
    word-spacing: 2px;
    color: var(--white);
}

.copyright {
    margin-left: 0.5em;
}

.footnote, .copyright {
    font-weight: 300;
}

/* scroll-up button */
.scrollUp-btn {
    display: block;
    position: absolute;
    top: -22px;
}

.arrowsUp {
    width: 40px;
	height: 40px;	
}

.arrowsUp path {
        stroke: var(--cyber-yellow);
        fill: transparent;
        stroke-width: 1px;
}

.arrowsUp:hover path {	
	animation: arrowsUp 2s infinite;
}

.arrowsUp:hover path.a3 {
	animation-delay:-0.5s;
}

.arrowsUp:hover path.a4 {	
	animation-delay:0s;
}

@keyframes arrowsUp
{
0% {opacity:0}
40% {opacity:0}
80% {opacity:1}
100% {opacity:0}
}